<%= form_with(model: financial_operation, local: true) do |form| %>
  <% if financial_operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financial_operation.errors.count, "error") %> prohibited this financial_operation from being saved:</h2>

      <ul>
      <% financial_operation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :card %>
    <%= form.text_field :card %>
  </div>

  <div class="field">
    <%= form.label :ocurrence_time %>
    <%= form.time_select :ocurrence_time %>
  </div>

  <div class="field">
    <%= form.label :store_owner %>
    <%= form.text_field :store_owner %>
  </div>

  <div class="field">
    <%= form.label :store_name %>
    <%= form.text_field :store_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
