<div class="card">
  <div class="card-body">
    <h5 class="card-title">Resumo da importacao</h5>
    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <table class="table table-striped">
      <thead>
        <th>Tipo</th>
        <th>Data</th>
        <th>Valor</th>
        <th>CPF</th>
        <th>Cartão</th>
        <th>Hora</th>
        <th>Dono da loja</th>
        <th>Nome loja</th>
      </thead>
      <% @pessoas.each do |pessoa| %>
        <tr>
          <td><%= pessoa.type %></td>
          <td><%= pessoa.date %></td>
          <td><%= pessoa.value %></td>
          <td><%= pessoa.cpf %></td>
          <td><%= pessoa.card %></td>
          <td><%= pessoa.ocurrence_time %></td>
          <td><%= pessoa.store_owner %></td>
          <td><%= pessoa.store_name %></td>
        </tr>
      <% end %>
    </table>

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Quantidade de registros contidas no lote
        <span class="badge badge-primary badge-pill"><%= @response[:total] %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Receita bruta total
        <span class="badge badge-primary badge-pill"><%= number_to_currency(@response[:receita], :unit => "R$ ") %></span>
      </li>
    </ul>
    <%= link_to "Nova importação", financial_operations_path, class: 'btn btn-sm btn-success btn-novo' %>
  </div>
</div>